body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #2f2f2f;
}

.logo {
    position: fixed;
    bottom: 10px;
    margin-left: 70%;
}

.logo img {
    width: 40%;
    position: relative;
    right: -45%;
}

.extensioninfo {
    background: white;
    border-radius: 5px;
    left: 0px;
    text-align: center;
    padding: 5px;
    font-family: 'Inclusive Sans', sans-serif;
}

.extensioninfo a {
    color: blue;
}

table {
    width: auto;
    margin-top: 10px;
    border-collapse: collapse;
    overflow-x: auto;
}
.table-title{
color: antiquewhite;
font-size: x-large;
}

.vote-icon.up {
    color: darkgreen;
}

.vote-icon.down {
    color: darkred;
}

.vote-icon.equal {
    color: gray;
}

td {
    background-color: #2f2f2f;
}

tr.top-row,
tr.subtext-row {
    color: lightgray;
}

.voteicon {
    vertical-align: middle;
}

.empty {
    height: 10px;
}

.subtext,
.shorturl {
    color: darkgray;
    font-size: 0.8rem;
    padding-bottom: 3px;
    width: auto;
}

.subtext,
.shorturl {
    width: 100%;
}

tr.subtext-row td {
    margin-bottom: 5px;
}
.title {
    white-space: nowrap;
}

.title a {
    color: inherit;
    text-decoration: none;
    margin-right: 2px;

}

.title a:hover {
    text-decoration: underline;
}

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 20px;
    top: 4px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#pagination button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
}

#pagination button:hover {
    background-color: #45a049;
}